body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

#display_image{
    width: 300px;
    height: 200px;
    border: 2px solid whitesmoke;
    background-position: center;
    background-size: cover;
}